@charset "UTF-8";

body {
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
h1 {
    color: aliceblue;
    background-color: darkred;
}

h2 {
    color: aliceblue;
}
p {
    text-align: justify;
    color: aliceblue;
}